<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PopcornPlz</title>
  </head>
  <body>
<h1>PopcornPlz</h1>
    <form action="/" method="post">
      <input type="text" name="movieName">
      <input type="submit" value="Search">
    </form>

  </body>
</html>
