<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search Results | PopcornPlz</title>
  </head>
  <body>
    <h1>Search results</h1>
    <% for (var i = 0; i < queryTitles.length; i++) { %>
      <p><%=queryTitles[i]%></p>
    <% } %>

  </body>
</html>
